/* html <= 1440 */
@media (max-width: 1440px) {
  nav #nav {
    max-width: 1250px;
    padding: 42px 54px;
  }
  main .main_inner {
    max-width: 1250px;
    padding: 22px 54px;
  }
  main #best_seller .section_inner {
    padding-left: calc((100% - 1142px) / 2);
  }
  main #review {
    min-width: 1250px;
    padding: 180px 54px;
  }
  main #faq {
    min-width: 1250px;
    padding: 180px 54px;
  }
  footer .footer_wrap {
    min-width: 1250px;
    padding: 36px 20px;
  }
}
/* html <= 1350px */
@media (max-width: 1350px) {
  main #best_seller .section_inner {
    padding-left: 42px;
  }
}
/* html <= 768px (*mobile) */
@media (max-width: 768px) {
  nav #nav li:not(:first-child) {
    display: none;
  }
  .m_menu.close span {
    background: #fff;
    position: absolute;
    top: 39px;
    right: 22px;
    margin: 0;
    padding: 0;
    width: 22px;
  }
  .m_menu.close span:nth-child(1) {
    transform: rotate(135deg);
  }
  .m_menu.close span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .m_menu.close span:nth-child(3) {
    transform: rotate(-135deg);
  }
  .m_menu {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    padding: 32px 24px;
    z-index: 99;
  }
  .m_menu span {
    display: block;
    width: 18px;
    height: 3px;
    background: #1d3220;
    margin-bottom: 5px;
    transition: all 0.4s;
  }
  nav #nav .logo a {
    width: 109px;
    height: 25px;
  }
  .m_nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(38, 38, 38, 0.9);
  }
  .m_nav ul {
    margin-top: 130px;
  }
  .m_nav li {
    width: 100%;
    text-align: center;
  }
  .m_nav li a {
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 13px;
  }
}