/* html <= 1440 */
@media (max-width: 1440px) {
  nav #nav {
    max-width: 1250px;
    padding: 42px 54px;
  }
  main .main_inner {
    max-width: 1250px;
    padding: 22px 54px;
  }
  main #best_seller .section_inner {
    padding-left: calc((100% - 1142px) / 2);
  }
  main #review {
    max-width: 1250px;
    padding: 180px 54px;
  }
  main #faq {
    max-width: 1250px;
    padding: 180px 54px;
  }
  footer .footer_wrap {
    max-width: 1250px;
    padding: 36px 20px;
  }
}
/* html <= 1350px */
@media (max-width: 1350px) {
  main #best_seller .section_inner {
    padding-left: 42px;
  }
}
/* html <= 768px (*mobile) */
@media (max-width: 768px) {
  nav #nav li:not(:first-child) {
    display: none;
  }
  #review .card.view .card_hover {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s;
  }
  #review .card.view .card_head {
    height: 0;
    opacity: 0;
    transition: 0.2s;
  }
  #review .card.view .card_bg {
    filter: blur(20px);
    transition: 0.4s;
  }
  .m_menu.close span {
    background: #fff;
    position: absolute;
    top: 39px;
    right: 22px;
    margin: 0;
    padding: 0;
    width: 22px;
  }
  .m_menu.close span:nth-child(1) {
    transform: rotate(135deg);
  }
  .m_menu.close span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .m_menu.close span:nth-child(3) {
    transform: rotate(-135deg);
  }
  .m_menu {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    padding: 32px 24px;
    z-index: 99;
  }
  .m_menu span {
    display: block;
    width: 18px;
    height: 3px;
    background: #1d3220;
    margin-bottom: 5px;
    transition: all 0.4s;
  }
  nav #nav .logo a {
    width: 109px;
    height: 25px;
  }
  .m_nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(38, 38, 38, 0.9);
  }
  .m_nav ul {
    margin-top: 130px;
  }
  .m_nav li {
    width: 100%;
    text-align: center;
  }
  .m_nav li a {
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 13px;
  }
  main .main_inner .main_txt p {
    font-size: 2.5rem;
  }
  main .main_inner .main_txt span {
    padding-right: 36px;
  }
  main .main_inner .main_txt span::after {
    width: 36px;
    height: 28px;
    background: url("../images/it.png") no-repeat center/100%;
  }
  main .main_inner .btn_area .slide_btn {
    font-size: 15px;
    padding: 10px 20px;
  }
  main #best_seller {
    height: auto;
    padding-bottom: 100px;
  }
  main #best_seller .section_inner {
    flex-direction: column;
    padding-left: 0;
    padding-top: 55px;
  }
  .txt_group {
    text-align: center;
  }
  main #best_seller .txt_title {
    margin: 113px 0 22px;
  }
  main #best_seller .txt_title p {
    font-size: 1.7rem;
  }
  main #best_seller .seller_btn {
    font-size: 15px;
    padding: 15px;
  }
  main #best_seller .seller_txt {
    font-size: 14px;
  }
  main #best_seller #seller_swiper {
    width: 100%;
    margin-left: 0;
    margin-top: 54px;
    padding-bottom: 116px;
  }
  main #best_seller #seller_swiper .swiper-slide {
    height: 420px;
    width: 310px;
  }
  main #best_seller #seller_swiper .seller_pager {
    width: 40%;
    margin: 0 auto;
    right: 0;
  }
  main .title {
    font-size: 2rem;
  }
  main #review .review_item .card {
    width: 100%;
    height: 450px;
  }
  main #review .review_item .card:nth-child(2n) {
    margin-left: 0;
  }
  main #review .review_item .card_title {
    font-size: 1.4rem;
    position: static;
  }
  main #review .review_item .card_profile p {
    font-size: 16px;
  }
  main #review .review_item .card_title::after {
    top: auto;
    bottom: 40px;
    right: 40px;
  }
  main #faq {
    height: auto;
  }
  main #faq ul {
    width: 100%;
  }
  main #faq .faq_list {
    flex-direction: column;
  }
  main #faq .faq_head {
    font-size: 18px;
  }
  main #faq .faq_head span {
    font-size: 22px;
  }
  main #faq .faq_head::after {
    width: 16.5px;
    height: 7px;
  }
  main #faq .faq_content {
    font-size: 14px;
    padding: 15px 26px;
  }
  footer .footer-menu {
    display: block;
    text-align: center;
  }
  footer .footer-menu h1 {
    margin-bottom: 20px;
  }
  footer .footer-wrap {
    padding: 80px 24px;
  }
  footer .footer-menu ul {
    margin: 0;
    margin-bottom: 20px;
    justify-content: center;
  }
  footer .footer_info .info_txt {
    min-width: 75%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  footer .footer_info .info_txt span {
    margin: 5px 0;
  }
  footer .footer_info .sns_group {
    position: static;
    text-align: center;
  }
  footer .footer_info .copyright {
    text-align: center;
    margin-top: 20px;
  }
}
/* html >= 769px */
@media (min-width: 769px) {
  .m_nav {
    display: none;
  }
  #review .card:hover .card_hover {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s;
  }
  #review .card:hover .card_head {
    height: 0;
    opacity: 0;
    transition: 0.2s;
  }
  #review .card:hover .card_bg {
    filter: blur(20px);
    transition: 0.4s;
  }
}