body * {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 16px;
  box-sizing: border-box;
}

/* nav */
nav #nav {
  max-width: 1412px;
  outline: 1px solid red;
  margin: 0 auto;
  padding: 42px 0;
  display: flex;
}
nav #nav li:not(:last-child) {
  margin-right: 26px;
}
nav #nav a {
  font: bold 16px/1.5 "Spoqa Han Sans Neo";
  color: #262626;
}
nav #nav .logo a {
  background: url("../images/bs_logo.svg") no-repeat center center/cover;
  display: block;
  width: 123px;
  height: 28px;
  outline: 1px solid blue;
  font-size: 0;
  margin-right: 62px;
}