@charset 'UTF-8';
@font-face {
  font-family: 'my-body';
  src: url('../font/MYYeongnamnu.ttf') format('truetype');
}
@font-face {
  font-family: 'my-head';
  src: url('../font/MYArirang.ttf') format('truetype');
}

body * {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 16px;
  box-sizing: border-box;
}

/* nav */
nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  #nav {
    max-width: 1412px;
    margin: 0 auto;
    padding: 42px 0;
    display: flex;
    align-items: center;
    li:not(:last-child) {
      margin-right: 26px;
    }
    a {
      font: 400 18px/1.5 "my-body";
      // font: font-weight font-size/line-height font-family;
      color: #fff;
      letter-spacing: -0.03em;
    }
    .logo a {
      // border: 1px solid orange;
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 62px;
      font-size: 62px;
      font-family: 'my-head';
      font-weight: 700;
      color: #fff;
    }
  } // e: #nav
} // e: nav

main {
  .section {
    width: 100%;
    height: 100vh;
    /*
      vh - 뷰포트 높이 기준 %
      vw - 뷰포트 너비 기준 %
    */
    min-height: 820px;
    position: relative;
  }

  #main1 {
    background: url("../images/bg_main3.jpg") no-repeat bottom center / cover;
  }

  #main2 {
    background: url("../images/bg_main4.jpg") no-repeat bottom center / cover;
  }

  #main_slide .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* 수직축(세로방향) 기준 콘텐츠를 가운데 배치 */
  }

  // 활성화 슬라이드 효과
  .swiper-slide-active {
    .main_inner .main_txt {
      transform: translateY(0);
      transition-delay: 0.4s;
      opacity: 1;
    }
    .main_inner .btn_area {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.7s;
    }
  }

  .main_inner {
    width: 100%;
    max-width: 1412px;
    margin: 0 auto;
    .main_txt {
      margin-bottom: 30px;
      transform: translateY(50px);
      transition: all 0.4s;
      opacity: 0;
      p {
        font-size: 64px;
        font-weight: bold;
        line-height: 1.25;
        // font: bold 64px/1.25;
        font-family: 'my-body';
        color: #d3d3d3;
      }
      span {
        color: rgb(158, 198, 255);
        font-size: 70px;
      }
    } //e: .main_txt

    .btn_area {
      transform: translateY(50px);
      transition: all 0.4s;
      opacity: 0;

      .slide_btn {
        font-family: 'my-body';
        font-size: 18px;
        font-weight: 400;
        background: rgba(66, 66, 66, 0.6);
        color: #d3d3d3;
        display: inline-block;
        line-height: 1;
        padding: 16px 28px;
        border-radius: 14px;
        transition: all 0.3s;
        margin-right: 6px;
      }
      .slide_btn:hover {
        background: #fff;
        color: #414141;
      }
      p {
        margin-top: 15px;
        font-size: 0;
      }
    } //e: .btn_area
  } // e: .main_inner

  #best_seller {
    // background: url("../images/bg_gradient.jpeg") no-repeat center / cover;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(187,84,24,0.5214460784313726) 100%);
    .section_inner {
      height: 100%;
      max-width: 100%;
      display: flex;
      align-items: center;
      padding-left: calc((100% - 1358px) / 2);
    }

    .txt_title.scroll {
      transform: translateY(0);
      opacity: 1;
    }
    .txt_title {
      margin-bottom: 170px;
      transform: translateY(100px);
      transition: all 0.4s;
      opacity: 0;
      .stroke {
        font-family: 'my-head';
        font-size: 74px;
        color: #fff;
        font-weight: 700;
      }
      p {
        font-size: 48px;
        line-height: 1.25;
        font-family: 'my-body';
        color: #414141;
      }
      .text_bold {
        font-weight: 400;
      }
      span {
        position: relative;
        padding-right: 20px;
      }
      span::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("../images/ic_it.png") no-repeat center / cover;
        position: absolute;
        right: 0;
        top: 0;
      }
    } // e: .txt_title

    .seller_btn.scroll {
      transform: translateY(0);
      opacity: 1;
    }
    .seller_btn {
      font-family: 'my-body';
      display: inline-block;
      background: #262626;
      color: #d3d3d3;
      padding: 16px 20px;
      border-radius: 14px;
      margin-bottom: 28px;
      transform: translateY(100px);
      transition: all 0.4s;
      opacity: 0;

      span {
        position: relative;
        padding-right: 18px;
        display: inline-block;
      }
      span::after {
        content: "";
        display: block;
        width: 8px;
        height: 14px;
        background: url("../images/ic_arrow.png") no-repeat right / cover;
        position: absolute;
        right: 0;
        top: 2px;
        transform: rotate(180deg);
      }
    } // e: .seller_btn

    .seller_txt.scroll {
      opacity: 1;
      transform: translateY(0);
    }
    .seller_txt {
      transition: all 0.4s;
      opacity: 0;
      transform: translateY(100px);
      font-weight: 500;
      line-height: 1.3;
      color: #dedede;
      font-family: 'my-body';
    }
    .seller_txt:nth-of-type(2) {
      color: #fff;
    }

    #seller_swiper {
      width: calc(100% - (382px + 66px));
      // outline: 1px solid blue;
      margin-left: auto;
      margin-right: 0;
      padding-bottom: 40px;

      .swiper-slide {
        background: #ddd;
        width: 332px;
        height: 500px;
        border-radius: 14px;
        overflow: hidden;

        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        flex-direction: column; // 콘텐츠 정렬 순서
      }
      .slide1 {
        background: url("../images/stroke1.jpg") no-repeat center / cover;
      }
      .slide2 {
        background: url("../images/stroke2.png") no-repeat center / cover;
      }
      .slide3 {
        background: url("../images/stroke3.png") no-repeat center / cover;
      }
      .slide4 {
        background: url("../images/stroke4.jpg") no-repeat center / cover;
      }

      .seller_item_inner {
        background: #fff;
        width: 100%;
        padding: 32px;

        .card_title {
          font-size: 19px;
          color: #1a1a1c;
          letter-spacing: -0.02em;
          font-weight: 600;
          margin-bottom: 15px;
          font-family: 'my-body';
        }
        .sub_title {
          font-family: 'my-body';
          font-size: 16px;
          font-weight: 600;
          color: #a35731;
          margin-bottom: 4px;
        }
        .price {
          font-family: 'my-body';
          font-size: 42px;
          font-weight: 700;
        }
      } // e: .seller_item_inner

      .seller_pager {
        bottom: 0;
        top: auto;
        span {
          background: #5d4f79;
        }
      }
    } // e: #seller_swiper
  } // e: #best_seller
  .title.scroll {
    opacity: 1;
    transform: translateY(0);
  }
  .title {
    transition: all 0.4s;
    transform: translateY(150px);
    opacity: 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.3;
    margin-bottom: 45px;
  }
  // card hover effect
  // #review .card:hover {
  //   .card_hover {
  //     transform: translateY(0);
  //     opacity: 1;
  //     transition: all 0.5s;
  //   }
  //   .card_head {
  //     height: 0;
  //     opacity: 0;
  //     transition: 0.2s;
  //   }
  //   .card_bg {
  //     filter: blur(20px);
  //     transition: 0.4s;
  //   }
  // }
  #review {
    width: 100%;
    max-width: 1412px;
    margin: 0 auto;
    padding: 180px 24px;

    .review_item.scroll {
      opacity: 1;
      transform: translateY(0);
    }
    .review_item {
      opacity: 0;
      transform: translateY(150px);
      transition: all 0.4s;
      display: flex;
      flex-wrap: wrap;
      .card {
        // outline: 1px solid blue;
        width: calc(50% - 12px);
        height: 622px;
        border-radius: 14px;
        overflow: hidden;
        position: relative;
        padding: 40px 44px 0;
        margin-bottom: 24px;
      }
      .card:nth-child(2n) {
        margin-left: 24px;
      }
      .card:nth-child(2) .card_bg {
        background: url("../images/bg_review2.jpeg") no-repeat center / cover;
      }
      .card:nth-child(3) .card_bg {
        background: url("../images/bg_review3.jpg") no-repeat center / cover;
      }
      .card:nth-child(4) .card_bg {
        background: url("../images/bg_review4.jpg") no-repeat center / cover;
      }
      .card_bg {
        width: 100%;
        height: 100%;
        background: url("../images/bg_review1.jpg") no-repeat center / cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      .card_title {
        font-size: 34px;
        font-weight: 700;
        line-height: 1.4;
        position: relative;
      }
      .card_title::after {
        content: "";
        display: block;
        width: 33px;
        height: 33px;
        background: url("../images/ic_plus.png") no-repeat center / cover;
        position: absolute;
        top: 2px;
        right: 2px;
      }
      .card_profile {
        display: flex;
        align-items: center;
        margin-top: 15px;
        p {
          font-size: 18px;
          font-weight: 500;
          line-height: 20px;
          margin-left: 10px;
        }
      }
      .card_hover {
        /* 숨김 처리 */
        transform: translateY(150px);
        opacity: 0;

        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        cursor: pointer;
        .card_subtitle {
          letter-spacing: -0.01em;
          margin-bottom: 7px;
          span {
            font-size: 26px;
            font-weight: 700;
            line-height: 0.9;
            display: inline-block;
          }
          span:nth-child(2) {
            border-left: 2px solid #262626;
            padding-left: 10px;
            margin-left: 10px;
          }
        }
        .comment {
          font-size: 16px;
          font-weight: 500;
        }
        .content {
          font-size: 18px;
          line-height: 1.5em;
          margin-top: 24px;
        }
        .ui_img {
          width: 70%;
          margin: 35px auto 0;
        }
      } // e: .card_hover
    } // e: .review_item
  } // e: #review
  #faq {
    max-width: 1412px;
    margin: 0 auto;
    padding: 100px 24px 190px;
    .faq_list.scroll {
      opacity: 1;
      transform: translateY(0);
    }
    .faq_list {
      display: flex;
      opacity: 0;
      transform: translateY(150px);
      transition: all 0.4s;
    }
    ul {
      width: 49%;
    }
    ul:not(:last-child) {
      margin-right: 2%;
    }
    li {
      border-bottom: 1px solid #c1c1c1;
      padding: 35px 0;
    }
    li.arrow_action .faq_head::after {
      transform: rotate(0deg);
    }
    .faq_head {
      font-size: 28px;
      font-weight: 700;
      padding: 0 50px 0 20px;
      position: relative;
      cursor: pointer;
      span {
        color: #ab96fd;
        font-size: 34px;
        line-height: 1;
        margin-right: 16px;
        margin-top: -2.5px;
      }
    }
    .faq_head::after {
      content: "";
      display: block;
      width: 21.5px;
      height: 12px;
      background: url("../images/ic_arrow_faq.png") no-repeat center / 100%;
      position: absolute;
      right: 20px;
      top: 12px;
      transform: rotate(180deg);
      transition: all 0.4s;
    }
    .faq_content {
      color: #9d9d9d;
      line-height: 1.8;
      padding: 15px 58px;
      display: none;
    }
  } // e: #faq
} // e: main

footer {
  background: #262626;
  font-family: "Spoqa Han Sans Neo", "sans-serif" !important;

  .footer-wrap {
    max-width: 1412px;
    margin: 0 auto;
    // outline: 1px solid green;
    position: relative;
    padding: 36px 24px;
  }
  .footer-menu {
    color: #fff;
    letter-spacing: -0.01em;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    h1 {
      font-size: 22px;
      font-weight: 700;
    }
    ul {
      display: flex;
      margin-left: 20px;
    }
    li > a {
      font-size: 14px;
      font-weight: 500;
    }
    li:not(:last-child) {
      margin-right: 26px;
    }
  }
  .footer_info {
    .info_txt {
      max-width: 1000px;
      font-size: 0;
      padding-right: 100px;
      span {
        font-size: 12px;
        line-height: 1;
        color: #c1c1c1;
        font-weight: 500;
        display: inline-block;
        margin: 3px 0;
      }
      span:not(:last-child) {
        border-right: 1px solid #c1c1c1;
        margin-right: 6px;
        padding-right: 6px;
      }
    }
    .sns_group {
      position: absolute;
      right: 24px;
      bottom: 36px;
      a {
        width: 36px;
        height: 36px;
        display: inline-block;
        font-size: 0;
      }
      .instar {
        background: url("../images/ic_insta.png") no-repeat center / cover;
        margin-right: 5px;
      }
      .blog {
        background: url("../images/ic_blog.png") no-repeat center / cover;
      }
    }
    .copyright {
      color: #fff;
      font-size: 12px;
      font-weight: 500;
      margin-top: 10px;
    }
  } // e: .footer_info
} // e: footer
